.home-pagina {
    width: 460px;
    padding: 8% 0 0;
    margin: auto;
}

h1 {
    text-align: center;
    color: #265f07;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: #265f07;
}

#forma {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}

#divbotao {
    width: 100px;
    height: 100px;
    display: inline-block;
}

#botao {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#botao:hover,#botao:active,#botao:focus {
    background: #43A047;
}