<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Atualizar</title>
    </head>
    <body>
        <h1>Atualizar</h1>
        <hr>
        <form action="" method="POST">
            <table>
                <tr>
                    <td>Nome</td>
                    <td><input type="text" name="nome" value="{{ doador.nome }}"></td>
                </tr>
                <tr>
                    <td>Endereço</td>
                    <td><input type="text" name="endereco" value="{{ doador.endereco }}"></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td><input type="text" name="email" value="{{ doador.email }}"></td>
                </tr>
                <tr>
                    <td>Telefone</td>
                    <td><input type="text" name="telefone" value="{{ doador.telefone }}"></td>
            </table><br>
            <input type="submit" value="Atualizar Dados">
        </form>
        <a href="/index">Voltar</a>
    </body>
</html>