<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/atualizar.css')}}">
        <title>Atualizar Dados</title>
    </head>
    <body>
        <div class="atualizar-pagina">
            <h1>Atualizar</h1>
            <div class="forma">
                <form method="POST">
                    <input type="text" name="nome" value="{{ doador.nome }}" id="atualizar">
                    <input type="text" name="endereco" value="{{ doador.endereco }}" id="atualizar">
                    <input type="text" name="email" value="{{ doador.email }}" id="atualizar">
                    <input type="text" name="telefone" value="{{ doador.telefone }}" id="atualizar">
                    <input type="submit" value="Atualizar Dados" class="botao">
                    <p class="voltar"><a href="/lista" class="voltarI">Voltar</a></p>
                </form>
            </div>
        </div>
    </body>
</html>