<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
        <style>
            body {
                background-image: url('static/img/fg240607.jpg');
                background-size: cover;
                font-family: "Roboto", sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        </style>
        <title>Página Inicial</title>
    </head>
    <body>
        <div class="home-pagina">
            <h1>Seja um doador!</h1>
            <h2>Cadastre você ou sua empresa para conseguirmos mais apoiadores para a causa.</h2>
        </div>
        <div id="forma">
            <div>
                <button type="button" class="botao1"><a href="{{ url_for('login')}}">Login</a></button></div>
            <div>
                <a href="{{ url_for('lista')}}" class="botao2">Lista de doadores</a></div>
        </div>        
    </body>
</html>