<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lista.css')}}">
        <title>Lista de Doadores</title>
    </head>
    <body>
        <div class="lista-pagina">
            <h1>Lista de Doadores</h1>
        </div>
        <table class="tabela">
            <tr>
                <td>RG</td>
                <td>Nome</td>
                <td>CPF</td>
                <td>Endereço</td>
                <td>E-mail</td>
                <td>Senha</td>
                <td>Telefone</td>
                <td>Carteira do SUS</td>
            </tr>
            {% for doador in doadores %}
            <tr>
                <td>{{ doador.id }}</td>
                <td>{{ doador.nome }}</td>
                <td>{{ doador.cpf }}</td>
                <td>{{ doador.endereco }}</td>
                <td>{{ doador.email }}</td>
                <td>{{ doador.senha }}</td>
                <td>{{ doador.telefone }}</td>
                <td>{{ doador.numCarteira }}</td>
                <td><a href="/excluir/{{ doador.id }}">Excluir</a></td>
                <td><a href="/atualizar/{{ doador.id }}">Atualizar</a></td>
            </tr>
            {% endfor %}
        </table>
        <div class="voltar">
            <a href="/index" class="botao">Voltar</a>
        </div>
    </body>
</html>